<!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-center">PROJECT NAME</h1>
        <p class="lead text-center">
          Ship to anywhere you want. We get the best rates from all the shipping
          companies! 
        </p>
      </div>
    </div>
    <!-- End of Jumbotron -->
    <!-- Start of Dashboard -->
    <div class="container">
      <div class="row">
        <!-- First Card -->
        <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-header">Project 2</div>
            <div class="card-body">
              <h5 class="card-title">Information</h5>
              <br>
              <p class="card-text-1">
                This application helps you find the shipping rates for selected
                shipping companies. 
                <br>
                <ul>
                  <li>Use the shipments tab to calculate your shipping
                rate by filling out the form provided.
              </li>
              <br>
              <li>Use the orders tab to keep record of any orders placed
                and track the status of your shipment.
              </li>
              </ul>
              </p>
              <br>
              <br>
              <br>
              <br>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <br>
              <br>
            </div>
          </div>
        </div>
        <!-- Second Card -->
        <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-header">Tools used</div>
            <div class="card-body">
              <h5 class="card-title">Tools</h5>
              <br>
              <p class="card-text-1">
                We used multiple shipping APIs to get their rates. The APIs we used are:
                <br>
                <br>
                <br>
                <br>
                <li>UPS API: D9756B447BCF832</li>
                <br>
                <li>FedEx API: MLLcAZhKFf1r5JcA</li>
                <br>
                <br>
                <br>
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <br>
              <br>
            </div>
          </div>
        </div>
        <!-- Third Card -->
        <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-header">Group 2</div>
            <div class="card-body">
              <h5 class="card-title">The Team</h5>
              <br>
              <p class="card-text-1">
                This project has been created by:
                <br>
                <br>
                <li>Andy Nguyen</li>
                <br>
                <li>An Trinh</li>
                <br>
                <li>Noreldin Saad</li>
                <br>
                <li>Elton Lac</li>
                <br>
                <br>
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>