<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Shipments</h1>
        <p class="lead text-center">
            Calculate Shipping Rates Here
        </p>
    </div>
</div>
<!-- End of Jumbotron -->
<!-- Start of Dashboard -->
<!-- First Card -->
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="card text-center">
                <div class="card-header">Submit Forum</div>
                <div class="card-body">
                    <h5 class="card-title">Information</h5>
                    <p class="card-text">
                    <form>
                        <div class="mb-3">
                            <label for="recipientName" class="form-label">Name of Recipient</label>
                            <input type="text" class="form-control" id="recipientName" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="shippingAddress" class="form-label">Shipping Address</label>
                            <input type="text" class="form-control" id="shippingAddress">
                        </div>
                        <div class="mb-3">
                            <label for="packageWeight" class="form-label">Package Weight</label>
                            <input type="text" class="form-control" id="packageWeight">
                        </div>
                        <div class="mb-3">
                            <label for="packageDimensions" class="form-label">Package Dimensions</label>
                            <input type="text" class="form-control" id="packageDimensions">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </p>
                </div>
            </div>
        </div>
        <!-- Second Card -->
        <div class="col-lg-7">
            <div class="card text-center">
                <div class="card-header">Shipping Rates</div>
                <div class="card-body">
                    <h5 class="card-title">Calculated Shipping</h5>
                    <p class="card-text-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Company</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>Service</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>Rate</strong><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <strong>FEDEX</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>Overnight</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>$79.99</strong><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <strong>FEDEX</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>Express Saver</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>$49.99</strong><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <strong>UPS</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>Overnight</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>$99.99</strong><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <strong>UPS</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>Express Saver</strong><br><br>
                            </div>
                            <div class="col-sm">
                                <strong>$59.99</strong><br>
                            </div>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
</div>