<link rel="stylesheet" href="../public/css/style.css">
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Login</h1>
    <p class="lead text-center">Enter your email and password</p>
  </div>
</div>
<!-- /Jumbotron -->
<!-- Login Box -->
<div class="loginBox">
  <img src="../public/images/avatar.png" alt="Avatar" class="avatar">
  <form class="loginForm">
    <p>User Email Address</p>
    <input type="text" name="" placeholder="Enter Email Address">
    <p>Password</p>
    <input type="password" name="" placeholder="Enter Password">
    <button>type="submit" name="" value="Login"></button> 
    <a href="#" class="forgotPass">Forgot your password?</a><br>
    <a href="#" class="createAcc">Create an account</a>
  </form>
</div>
<script src="/js/login.js"></script>