<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Orders</h1>
        <p class="lead text-center">Track Your Orders Here</p>
    </div>
</div>
<!-- End of Jumbotron -->
<!-- Start of Orders -->
<!-- First Card -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-header">Orders</div>
                <div class="card-body">
                    <h5 class="card-title">Information</h5>
                    <br>
                    <p class="card-text-1">Order information goes here</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <!-- Second Card -->
        {{!-- <div class="col-lg-9">
            <div class="card text-center">
                <div class="card-header">Returned Values of Orders</div>
                <div class="card-body">
                    <h5 class="card-title">Information</h5>
                    <br>
                    <p class="card-text-1">
                        Returned Values go here(API Local Storage Call)
                    </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div> --}}