<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Shipments</h1>
        <p class="lead text-center">
            Calculate Shipping Rates Here
        </p>
    </div>
</div>
<!-- End of Jumbotron -->
<!-- Start of Dashboard -->
<!-- First Card -->
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="card text-center">
                <div class="card-header">Submit Forum</div>
                <div class="card-body">
                    <h5 class="card-title">Information</h5>
                    <p class="card-text">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name of Recipient</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Shipping Address</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Package Weight</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Package Dimensions</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </p>
                </div>
            </div>
        </div>
        <!-- Second Card -->
        <div class="col-lg-7">
            <div class="card text-center">
                <div class="card-header">Shipping Rates</div>
                <div class="card-body">
                    <h5 class="card-title">Tools</h5>
                    <p class="card-text-1">
                        Shipping Rates Return Here
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>