<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Sign Up</h1>
    <p class="lead text-center">Enter your desired email and password</p>
  </div>
</div>
<!-- /Jumbotron -->
<!-- Sign Up Box -->
    <div class="signupBox">
        <img src="./images/avatar.png" alt="Avatar" class="avatar">
        <form class="signupForm">
            <p>User Email Address</p>
            <input type="text" name="" placeholder="User Email Address">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="password" name="" placeholder="Enter Matching Password">
            <input type="submit" name="" value="Sign Up">
            <a href="/login" class="loginInstead">Already have an account?</a><br>
        </form>
    </div>
<script src="/js/signup.js"></script>